@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "tailwindcss";

@theme {
  --font-heading: "Outfit", sans-serif;
  --font-text: "Plus Jakarta Sans", sans-serif;

  --color-text: #e2e8f0;
  --color-text-muted: #64748b;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  background-color: #000;
}

body {
  font-family: var(--font-text);
  line-height: 1.5;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
